body{
    width: 95%;
    max-width: 800px;
    margin: auto;
    background: url(imagens/bg.jpg) center;
    font-family: 'Lato';
    line-height: 1.1;
    color: #ffffff;
 }

main{
    background: #f7000052;
    padding: 5px 40px;
    margin-top: 50px;
    border-radius: 10px;
}

.texto, .logo{
    margin: 0;
    text-align: center;
}

.titulo{
    font-size: 60px;
    margin: 0;
    text-align: center;
}

.campo{
    font-size: 1.5em;
    margin-left: 30%;
    margin-bottom: 1em;
}

.check{
    font-size: 1.5em;
    margin-left: 30%;
    margin-bottom: 1em;

}

input, select, textarea, button{
    border-radius: 5px;
}

.campo label{
    margin-bottom: 0.2em;
}

.campo input[type="text"], .campo select {
    padding: 0.7em;
    border: 2px solid gray;
    box-shadow: 1px 1px 1px black;
}

.campo input:focus, .campo select:focus{
    background: #936d3d69;
}

.corpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}
